<h2>Listado de productos</h2>

    <a href="/" type="button">Ir a cargar un nuevo producto</a>

{{#if prod}}
<div class="products">
  {{#each prod}}
  <div class="articulos">
    <h3>Modelo {{this.title}}</h3>
    <h3>Precio ${{this.price}}</h3> 
    <img src="{{this.thumbnail}}" alt="{{this.title}}">
  </div>
  {{/each}}
</div>

{{else}}
<p>NO SE ENCONTRARON PRODUCTOS</p>
{{/if}}
