<h2>Listado de productos</h2>

{{#if prod}}
<ul class="products">
  {{#each prod}}
    <ul><h3>{{this.title}}</h3></ul> 
    <ul><h3>{{this.price}}</h3></ul>
    <ul><img src="{{this.thumbnail}}" alt="{{this.title}}"></ul>
  {{/each}}
</ul>
{{else}}
<p>NO SE ENCONTRARON PRODUCTOS</p>
{{/if}}
